/* TABLE OF CONTENTS 

    GOOGLE FONTS
    DEBUGGING 

    1. HEADER CONTAINER
    2. FORM CONTAINER
        2.1 FORM IMAGES 
        2.2 FORM BODY
        2.3 FORM FIELDS
        2.4 BOTH FORM
        2.5 FORM TRAVEL AGENCY
            2.5.a FORM TRAVEL AGENCY PREV IMAGE
        2.6 FORM MANAGER

*/

/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
    --header-height: 3rem;
    /*========== Colors ==========*/
    --first-color: #1abc9c;
    --first-color-light: #26a69a44;
    --first-color-lighter: #ecf3f2;
    --title-color: #11443f;
    --text-color: #5b7b78;
    --body-color: #f5fffe;
    --logo-blue-light: #2aa5e8;
    --logo-yellow-light: #ffcb2a;
    --logo-blue-dark: #34a5e7;
    --logo-yellow-dark: #fda32b;
    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 3rem;
    --bigger-font-size: 2rem;
    --big-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }

/* DEBUGGING */

* {
    /* outline: 1px green solid; */
}


/* 1. HEADER CONTAINER */

.headbanner {
    height: 15vh;

}

.headbannerbgvid-container {

    width: 100%;
    object-fit: cover;
}

#bg-vid{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

    z-index: -1;
}

/* 2. FORM CONTAINER */

.form-container {
    max-width: 575px;
    /* height: 120vh; */

    margin-left: auto;
    margin-right: auto;


    padding: 15px;

    text-align: center;

    
}

/* 2.1 FORM IMAGES */

#designUmbrella  {
    position: absolute;

    height: 100px;
    width: 75px;

    right: 0;
    top: 0;
    bottom: 0;
    left: 100px;

    transform: translateY(-25px);
}

#backgroundTree {
    position: absolute;
   

    height: 450px;
    width: 470px;
    right: 0;
    top: -10px;
    bottom: 0;
    left: 35px;

    opacity: .25;
    z-index: -1;
}

/* 2.2 FORM BODY */

legend {
    margin: 0px 0px 10px 0;
    padding: 10px 0px 0px 0px;
}

form {
    position: relative;

    margin: 25px 0px 0px 0;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    

    /* background-image: linear-gradient(180deg, #febe2a5b, #40afeb5b); */

    transform: scale(0.85);
    /* text-shadow: 1px 1px 4px var(--first-color-lighter); */
    /* box-shadow: 1px 1px 3px var(--first-color); */

    z-index: 99;
}

/* 2.3 FORM FIELDS */


input[type=text], input[type=password], textarea, input[type=file], input[type=email], #region {
    box-sizing: border-box;
    background-color: hsl(#eee, 1, .15);

    /* border: 1px var(--logo-blue-dark) solid; */
    padding: 8px 8px;
    margin: 8px 0;
    min-width: 85%;
    
    font-family: var(--body-font);
    border-radius: 5px;
    font-size: 15px;

    transition: ease-in, .5s ease-in-out;
}

input[type=submit], input[type=button] {
    background-color: hsl(#eee, 1, .15);
    border: none;
    padding: 5px 5px;
    font-family: var(--body-font);

    border-radius: 5px;
    margin: 15px 75% 15px 0px;
}

input[type=submit] {
    text-align: right;
}

input:focus, textarea:focus {
    outline: none;

    border: 1px var(--first-color) solid;
}

textarea {
    font-family: var(--body-font);
    resize: none;
}

/* 2.4 BOTH FORM  */

.form-agency-part, .form-manager-part, .preview-image-container {
    border-radius: 12px;

    transition: ease-in, .5s ease-in-out;

    box-shadow: 0px 1px 12px 1px rgba(0,0,0,0.3);
    box-sizing: border-box;
    
   
}

/* 2.5 FORM TRAVEL AGENCY */

.form-agency-part {
    height: fit-content;
    background-color: var(--logo-yellow-dark);

    border: 1.5px var(--logo-yellow-dark) solid;

    padding: 0px 0px 10px 0px;

    margin: 0px 0px 15px 0px;
    transform: translateX(-15px);

    display: block;

    transition: 1s ease-out;
}

.form-agency-part:focus-within {
    border: 1.5px var(--logo-blue-dark) solid;
}

/* 2.5.a FORM TRAVEL AGENCY PREV IMAGE */

.preview-image-container {
    
    position: absolute;

    height: 250px;
    width: 250px;
    margin: 0px 0px 0px 10px;
    /* border-radius: 50%; */

    right: 0;
    bottom: 0;
    left: 100%;

    padding: 5px;

    background-color: #1abc9c8a;

    opacity: 0;
    transform: translateY(-50px);

    
}

#prev-container {
    display: none; 
       

    transition: .5s ease-in, .5s ease-out;
}

#prev {
    max-width: 240px;
    height: 240px;

    object-fit: fill;

    border-radius: 12px;
    /* border-radius: 50%; */
}

/* 2.6 FORM MANAGER*/

.form-manager-part {
    position: relative;
    background-color: var(--logo-blue-dark);

    border: 1.5px var(--logo-blue-dark) solid;
    overflow: hidden;
    
    transform: translateX(15px);

    /* transform: translateX(100%);
    transition: ease-out 0.3s;

    opacity: 0; */
}

/* .forrm-manager-part.is-active{
    transform: translateX(15px);
    opacity: 1;
} */

.form-manager-part:focus-within {
    border: 1.5px var(--logo-yellow-dark) solid;
}


/* EXPERIMENTAL */

@import url('http://fonts.cdnfonts.com/css/muli');



  :focus {
    outline: none; }
  
  textarea {
    resize: none; }
  
  /* input, textarea, select, button { */
    /* font-family: "Muli-Regular"; */
    /* font-size: 15px; } */
  
  p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0; }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  
  a {
    text-decoration: none; }
  
  textarea {
    resize: none; }
  
  img {
    max-width: 100%; }
  
  .wrapper {
    height: 100vh;
    
  
    display: flex;
    align-items: center;
    justify-content: center; }
  
  .wizard {
    width: 920px;
    position: relative; }

  .wizard > .steps {
    display: none;}
  
  /* .wizard > .steps {
    display: none;
    position: absolute;
    justify-content: center;
    top: 150px;
    right: 275px;
    transform: translateX(50%);
    z-index: 9; }
  
  .wizard > .steps .current-info, .wizard > .steps .number {
    display: none; }
  
  .wizard > .steps ul {
    display: flex;
    justify-content: center; }
  
  .wizard > .steps li a {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #e9e0cf;
    margin-right: 78px;
    position: relative; }
    .wizard > .steps li a:before {
      content: "";
      width: 58px;
      height: 2px;
      background: #e9e0cf;
      position: absolute;
      right: 22px;
      top: 5px; }
    .wizard > .steps li a:after {
      content: "";
      width: 0;
      height: 2px;
      background: var(--logo-yellow-dark);
      position: absolute;
      left: -68px;
      top: 5px;
      transition: all 0.6s ease; }
  .wizard > .steps li.first a {
    background: var(--logo-yellow-dark) }
  .wizard > .steps li.checked a {
    background: var(--logo-yellow-dark) }
   .wizard > .steps li.checked a:after {
      width: 58px; 
    }
  .wizard > .steps li:last-child a {
    margin-right: 0; }
  .wizard > .steps li:first-child a:before {
    display: none; }
  .wizard > .steps li:first-child a:after {
    display: none; } */
  
  .wizard > .content {
    position: relative;
    
    height: 521px; }
  
  .inner {
    display: flex;
    background: #fff;
    border-radius: 10px;
    box-shadow: 10px 14px 28px rgb(0 0 0 / 25%), -10px -10px 10px rgb(0 0 0 / 22%);
    -webkit-box-shadow: 10px 14px 28px rgb(0 0 0 / 25%), -10px -10px 10px rgb(0 0 0 / 22%);
    -moz-box-shadow: 10px 14px 28px rgb(0 0 0 / 25%), -10px -10px 10px rgb(0 0 0 / 22%);
    -ms-box-shadow: 10px 14px 28px rgb(0 0 0 / 25%), -10px -10px 10px rgb(0 0 0 / 22%);
    -o-box-shadow: 10px 14px 28px rgb(0 0 0 / 25%), -10px -10px 10px rgb(0 0 0 / 22%);}
  
  .image-holder {
    width: 40%;
    max-height: 521px; }

  .image-holder img{
    max-width: 100%;
    height: 521px; 
    border-radius: 10px 0px 0px 10px;}
  
  .form-content {
    width: 60%;
    padding-top: 65px;
    padding-left: 51px;
    padding-right: 51px; }
  
  .form-header {
    position: relative;
    text-align: center; }

  h3 {

    font-size: 22px;
    color: var(--logo-blue-dark);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    padding: 5px 15px;
    display: inline-block;
    border: 1px solid #dad8e4;
    margin-bottom: 75px; }
  
    h4 {
      position: absolute;
      top: 50%;
      right: 50%;
    }

  
  .form-row {
    display: flex;
    margin-bottom: 10px; }
    .form-row .form-holder {
      width: 50%;
      margin-right: 30px; }
      .form-row .form-holder:last-child {
        margin-right: 0; }
      .form-row .form-holder.w-100 {
        width: 100%;
        margin-right: 0; }
      .form-row .form-holder.w-65 {
        width: 65%;
        margin-right: 0; }
    .form-row .select {
      width: 50%;
      margin-right: 30px; }
      .form-row .select .form-holder {
        width: 100%;
        margin-right: 0; }
  
  .select {
    position: relative; }
    .select .select-control {
      height: 37px;
      border-bottom: 2px solid #e6e6e6;
      width: 100%;
      color: #999;
      display: flex;
      align-items: center;
      cursor: pointer; }
    .select .dropdown {
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
      background: #fff;
      z-index: 9;
      border: 1px solid #81acee; }
      .select .dropdown li {
        padding: 5px 10px; }
        .select .dropdown li:hover {
          background: #81acee;
          color: #fff; }
  
  .form-holder {
    position: relative; }
    .form-holder i {
      position: absolute;
      bottom: 7px;
      right: 0;
      font-size: 17px; }
  
  .form-control {
    height: 37px;
    border: none;
    border-bottom: 2px solid #e6e6e6;
    width: 100%;
    color: #666; }
    .form-control:focus {
      border-color: #e9e0cf; }
    .form-control::-webkit-input-placeholder {
      color: #999; }
    .form-control::-moz-placeholder {
      color: #999; }
    .form-control:-ms-input-placeholder {
      color: #999; }
    .form-control:-moz-placeholder {
      color: #999; }
  
  select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    color: #999; }
    select.form-control option[value=""][disabled] {
      display: none; }
  
  textarea.form-control {
    padding: 8px 0;
    background: url("../images/textarea-bg.png") no-repeat right bottom 3px; }


  label.error, label label.error{
    position: absolute;
    color: red;
    font-size: x-small;
    bottom: -10px;
    left: 0;
    padding: 0px;
    margin: 0px;
  }

  label label.error{
    bottom: -18px;
  }
  
  .actions {
    position: absolute;
    bottom: 55px;
    right: 51px; }
    .actions ul {
      display: flex; }
    .actions li a {
      padding: 0;
      border: none;
      display: inline-flex;
      height: 41px;
      width: 135px;
      align-items: center;
      background: #e9e0cf;
      border-radius: 20px;
      color: #666;
      cursor: pointer;
      position: relative;
      padding-left: 28px; }
      .actions li a:before {
        position: absolute;
        top: 14px;
        right: 28px;
        }
      .actions li a:hover {
        background: #cfc7b8; }
    .actions li:first-child a {
      width: 144px;
      padding-left: 48px; }
      .actions li:first-child a:before {
        position: absolute;
        top: 14px;
        left: 26px;
         }
    .actions li:nth-child(2) a, .actions li:last-child a {
      margin-left: 20px; }
    .actions li:last-child a {
      width: 124px;
      background: var(--logo-yellow-dark);
      color: #fff; }
      .actions li:last-child a:hover {
        background: #849963; }
      .actions li:last-child a:before {
        position: absolute;
        top: 13px;
        right: 28px;
        font-family: Material-Design-Iconic-Font; }
    .actions li[aria-disabled="true"] a {
      opacity: 0;
      transition: all 1s; }
    .actions li[aria-disabled="false"] ~ li a {
      background: var(--logo-yellow-dark);
      color: #fff; }
      .actions li[aria-disabled="false"] ~ li a:hover {
        background: var(--logo-yellow-dark); }
  
  .checkbox-tick label {
    cursor: pointer;
    display: inline-block;
    padding-left: 23px;
    position: relative; }
    .checkbox-tick label.male {
      margin-right: 26px; }
  .checkbox-tick input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }

  .checkbox-tick input:checked ~ .checkmark {
    background: #999; }

  .checkbox-tick input:checked ~ .checkmark:after {
    display: block; }
    
  .checkbox-tick .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 13px;
    width: 13px;
    border: 1px solid #999;
    border-radius: 50%;
    font-family: Material-Design-Iconic-Font;
    color: #fff;
    font-size: 11px; }
    .checkbox-tick .checkmark:after {
      top: 0;
      left: 2px;
      position: absolute;
      display: none;
      content: '\f26b'; }
  
  .checkbox-circle {
    position: relative;
    padding-left: 23px;
    margin-top: 41px;
    width: 63%; }
    .checkbox-circle.mt-24 {
      margin-top: 24px; }
    .checkbox-circle label {
      cursor: pointer;
      color: #999;
      font-size: 13px;
      line-height: 1.9;
      transform: translateY(-5px); }
      .checkbox-circle label a {
        color: #6d7f52; }
        .checkbox-circle label a:hover {
          color: #89b843; }
    .checkbox-circle input {
      position: absolute;
      opacity: 0;
      cursor: pointer; }
    .checkbox-circle input:checked ~ .checkmark:after {
      display: block; }
    .checkbox-circle .checkmark {
      position: absolute;
      top: 6px;
      left: 0;
      height: 13px;
      width: 13px;
      border-radius: 50%;
      border: 1px solid #999; }
      .checkbox-circle .checkmark:after {
        content: "";
        top: 2px;
        left: 2px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #999;
        position: absolute;
        display: none; }
  
  @media (max-width: 991px) {
    .wizard {
      max-width: 768px; }
  
    .image-holder img {
      height: 521px;
      object-fit: cover; } }
  @media (max-width: 767px) {
    .inner {
      display: block;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      -o-box-shadow: none; }
  
    .image-holder {
      width: 100%; }
      .image-holder img {
        width: 100%; }
  
    .form-content {
      width: 100%;
      padding: 50px 20px 30px; }
  
    .form-row {
      display: block; }
      .form-row .form-holder, .form-row .select {
        width: 100%;
        margin-right: 0;
        margin-bottom: 18px; }
  
    .wrapper {
      height: 1201px;
      background: none; }
  
    .checkbox-circle {
      width: 100%; }
  
    .wizard {
      height: 100%; }
      .wizard > .steps {
        right: 50%;
        top: 52%;
        transform: translateX(50%); }
  
    .actions {
      right: 50%;
      transform: translateX(50%);
      bottom: 3%; } }


  
    
  /*# sourceMappingURL=style.css.map */
  