/* Login Pages */
.login-banner {
  height: 100vh;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.login {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* font-family: 'Montserrat', sans-serif; */
  height: 100vh;
  /* margin: -20px 0 50px; */
}

.login h1 {
  font-weight: bold;
  margin: 0;
}

.login h2 {
  text-align: center;
}

.login p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.login span {
  font-size: 12px;
}

.login a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
  margin-bottom: 18px;
}

.login button, .login .btn, .pref-form-container button, .pref-form-container input[type='submit'] {
  border-radius: 20px;
  border: none;
  background: linear-gradient(
    90deg,
    var(--logo-yellow-dark),
    var(--first-color),
    var(--logo-blue-dark)
  );
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}


.login .overlay-panel.overlay-left button {
  background: linear-gradient(90deg, var(--first-color), var(--logo-blue-dark));
}

.login .overlay-panel.overlay-right button {
  background: linear-gradient(
    90deg,
    var(--logo-yellow-light),
    var(--logo-yellow-dark)
  );
}

.login button:active {
  transform: scale(0.95);
}

.login button:focus {
  outline: none;
}

.login button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.login form button {
  margin-top: 15px;
}

.login form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.login input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.login input.missing {
  border: 2px solid #ED2939;
  border-radius: 5px;
}

.login input.fname,
.login input.lname {
  width: 137px;
}
.login input.fname {
  margin-right: 2.85px;
}
.login input.lname {
  margin-left: 2.85px;
}

.login #mobile-container {
  display: none;
}

.login .container {
  /* background-color: #fff; */
  background: none;
  border-radius: 10px;
  box-shadow: 10px 14px 28px rgba(0, 0, 0, 0.25),
    -10px -10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  z-index: var(--z-tooltip);
}

.login .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  background: none;
}

.login .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.login .container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.login .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.login .sign-up-container .names {
  display: inline-block;
}

.login .container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login .overlay-blur {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  mask-image: linear-gradient(transparent, white 50%, white);
  -webkit-mask-image: linear-gradient(transparent, white 50%, white);
}

.login .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;

  background-color: transparent;
}

.login .container.right-panel-active .overlay-container,
.login .container.right-panel-active .overlay-blur {
  transform: translateX(-100%);
}

.login .overlay {
  /* background: var(--logo-yellow-dark);
      background: -webkit-linear-gradient(125deg, var(--logo-yellow-dark), var(--first-color), var(--logo-blue-dark));
      background: linear-gradient(125deg, var(--logo-yellow-dark), var(--first-color), var(--logo-blue-dark)); */
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.login .container.right-panel-active .overlay {
  transform: translateX(50%);
}

.login .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.login .overlay-left {
  transform: translateX(-20%);
}

.login .container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.login .overlay-right {
  right: 0;
  transform: translateX(0);
}

.login .container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.login .social-container {
  margin: 20px 0;
}

.login .social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.user-pref .pref-form-container {
  background-color: #f5f5f5;
  /* height: 65%; */
  width: 65%;
  z-index: inherit;
  border-radius: 5px;
  padding: 2rem;
}

.user-pref .pref-form-container .page-one {
  
  transition: all .1s ease-in;
}

.user-pref .pref-form-container .checklist {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
}

.user-pref .pref-form-container .checklist input[type="checkbox"] {
  display: none;
}

.user-pref .pref-form-container .checklist label {
  /* display: block; */
  position: relative;
  text-align: center;
  padding: 5px;
  border-radius: 15px;
  border: solid 5px #c0c0c0;
  margin-bottom: 15px; 
  height: 95px;
  cursor: pointer;
}

.user-pref .pref-form-container label.active {
  border: solid 5px #1abc9c;
}

.user-pref .pref-form-container label img.hovered {
  filter: blur(0);
  transition: filter 0.5 ease-in-out;
}

.user-pref .pref-form-container label img {
  height: 75px;
  width: 250px;
  object-fit: cover;
  border-radius: 10px;
  /* opacity: .8; */
  filter: blur(1px);
}

.user-pref .pref-form-container label .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  width: 100%;

}

.user-pref .pref-form-container button {
  margin-top: 10px;
  float: right;
}

.user-pref .pref-form-container #complete-reg {
  margin: 0;
}

.reset-email .card {
  display: flex; 
  width: 40%; 
  flex-direction: column; 
  margin: auto; 
  padding: 20px; 
  background-color: white; 
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px; 
  border-radius: 10px;
  
}

.reset-email .card .pass-field {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  gap: 15px;
  margin: 1rem 0;
}

.reset-email .card .pass-field input[type='password']{
  background-color: #eee; 
  border: none; 
  padding: 12px 15px; 
  margin: 8px 0; 
  width: 100%;
}

.reset-email .card input[type='submit'] {
  border-radius: 20px;
  border: none;
  background: linear-gradient( 90deg, var(--logo-yellow-dark), var(--first-color), var(--logo-blue-dark) );
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Poppins';
  cursor: pointer;
}


@media (max-width: 480px) {

  .switch {
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 

    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;

    opacity: 1;
    
    border-radius: 50%;
    color: white;
    background-color: #1abc9c;
    z-index: 3;
  }

  #login #container {
    display: none;
  }

  #login #mobile-container {
    display: block;
    box-shadow: none;
    min-height: 50%;
  }
  .login .form-container {
    width: 100%;
  }
  .login .sign-up-container {
    opacity: 1;
    transform: translate(100%, 0);
  }
  
  .login .sign-in-container form button {
    margin-top: 10px;
  }

  .login .form-container form {
    height: 75%;
    background-color: transparent;
  }
  .login form a {
    color: white !important;
    margin: 10px 0;
  }
  .login form h1 {
    color: white;
  }
  .login form input {
    border-radius: 5px;
  }
  .login input.fname, 
  .login input.lname {
    width: 150px;
  }

  



}