/* Packages Page */
.packages .wrap {
  margin: 50px;
  max-height: 300px;
  background: #e9e9e9;
  display: grid;
  grid-template-columns: 0.8fr 3fr 1fr;
  position: relative;
}

.packages .wrap .image img {
  height: 260px;
  width: 260px;
  margin: 20px;
  border-radius: 10px;
  vertical-align: middle;
  object-fit: cover;
}

.heart {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
}

.h_container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 45px;
  position: inherit;
  top: 10%;
  right: 10%;
}
#heart {
  font-size: 25px;
}
#heart:hover {
  color: red;
}

.packages .wrap .cap {
  margin: 20px;
}

.packages .wrap .cap .rating {
  color: var(--logo-yellow-dark);
  font-size: 20px;
}

.packages .wrap .cap .data {
  padding-top: 15px;
  font-size: 17px;
}

.packages .wrap .cap h2 {
  font-size: 30px;
}

.packages .wrap .price {
  text-align: right;
  margin: 20px;
}

.packages .wrap .price p {
  font-size: 20px;
  letter-spacing: 1px;
}

.packages .wrap .price .pr {
  margin-bottom: 15px;
}

.book-btn {
  padding: 10px;
  background-color: var(--logo-yellow-dark);
  color: black;
  border-radius: 10px;
}
