body {
    background-color: #f5f5f5;
}

.banner-half .text {
    width: 50%;
    position: relative;
    vertical-align: middle;
}

.banner-half .text .field {
    border: none;
    width: 100%;
    padding: 15px 25px;
    border-radius: 25px;
    font-family: inherit;
    background: white;
    font-size: 14px;
}

input.field:focus {
    outline:none;
}

.ico {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 20px;
    color: var(--first-color);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.package-container {
    display: flex;
    /* display: grid; */
    /* grid-template-columns: .3fr 1.5fr; */
    margin: 3rem auto;
    width: 90%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.wrapper {
    flex: 1 0 25%;
    margin: 10px 5px;
    max-width: 250px;
    max-height: 380px;
    background-color: white;
    position: relative;
    cursor: pointer;
}

.wrapper:hover .learn-btn,
.wrapper:hover .edit-btn,
.wrapper:hover .delete-btn {
    opacity: 1;
    z-index: 10;
}

.wrapper:hover .border {
    opacity: 1;
    transition: opacity ease-in;
}

.wrapper .border {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 254px;
    height: 384px;
    border: 2px solid var(--first-color);
    /* background-color: var(--first-color); */
    z-index: -1;
    opacity: 0;
    transition: opacity ease-in 0.5;
}

.wrapper .learn-btn a {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, 100%);
    background-color: var(--first-color);
    width: 254px;
    padding: 5px 0 5px 0;
    color: white;
    letter-spacing: 1px;
    z-index: 10;
}

.wrapper .edit-btn a, 
.wrapper .delete-btn a {
    position: absolute;
    bottom: 0;
    width: 127px;
    padding: 5px 0 5px 0;
    color: white;
    letter-spacing: 1px;
    z-index: 10;
    font-size: 14px;
}

.wrapper .edit-btn a {
    transform: translate(-100%, 100%);
    background-color: var(--first-color);
}

.wrapper .delete-btn a {
    transform: translate(0%, 100%);
    background-color: red;
}

.wrapper h2 {
    width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}

.wrapper .image {
    height: 250px;
    width: 250px; 
}

.wrapper .image img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.wrapper .content {
    padding: 10px;
}

.wrapper .content p a {
    color: black;
}

.wrapper .content p a:hover {
    text-decoration: underline;
}

.wrapper .learn-btn, 
.wrapper .edit-btn,
.wrapper .delete-btn {
    text-align: center;
    opacity: 0;
}

.filter-container {
    flex: 0 0 12rem;
}

.filter-header {
    display: none;
}

.filter-container .filter {
    padding: 1.25rem 0;
    border-bottom: 1px solid rgba(0,0,0,.09)
}

.filter p.header {
    margin-bottom: 5px;
}

.filter-rating .rating-inp {
    display: none;
}

.filter-rating .rating {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.filter-rating .rating.active {
    background: #34495e;
    font-weight: bold;
    color: white;
}

.rating i{
    color: var(--logo-yellow-dark);
    padding-right: 5px;
}

.inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs input {
    width: 4.375rem;
    height: 1.875rem;
    background-color: #fff;
    outline: none;
    border: 1px solid rgba(0,0,0,.26);
    box-sizing: border-box;
    padding-left: .3125rem;
    font-size: .8125rem;
    border-radius: .125rem;
    box-shadow: inset 0 1px 0 0 rgb(0 0 0 / 5%);
}

.inputs input::-webkit-outer-spin-button,
.inputs input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

.filter-price .apply-filter {
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    width: 100%;
    /* height: 30px; */
    background-color: var(--first-color);
    margin-top: 15px;
    color: white;
    font: inherit;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;
}

.filter-duration input[type="range"]{
    display: block;
    -webkit-appearance: none;
    background-color: var(--first-color);
    /* background-color: #34495e; */
    width: 100%;
    height: 5px;
    border-radius: 5px;
    margin: 15px auto;
    outline: 0;
}

.filter-duration input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* background-color: var(--first-color); */
    background-color: #34495e;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s ease-in-out;
  }

.right {
    width: 90%;
    margin: 0 auto;
}


  /* Admin Packages Page */
.searchbar {
  position: relative;
}

.searchbar .field {
border: none;
width: 100%;
padding: 15px 25px;
border-radius: 25px;
font-family: inherit;
background: #f5f5f5;
font-size: 14px;
}

.searchbar input.field:focus {
    outline:none;
}

.searchbar .ico {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 20px;
    color: var(--first-color);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 480px) {
    .banner-half .text {
        width: 90% !important;
    }

    .package-container {
        margin: 2rem auto;
        display: block;
        width: 95%;
    }

    .filter-header {
        display: block;
    }

    .filter-header label {
        display: flex;
        align-items: center;
    }

    .filter-header label span {
        padding-right: 10px;
        font-size: 20px;
        color: #1abc9c;
    }

    .filter-header label p {
        font-family: inherit;
    }

    #filter-container {
        display: none;
    }

    .filter-container {
        display: block;
        position: fixed;
        width: 300px;
        height: 100vh;
        top: 0;
        left: -100%;
        background: white;
        margin: 0;
        transition: all 0.1s;
        text-align: left;
        padding: 40px 20px;
        z-index: 100;
    }

    .filter-container.hidden {
        left: -100%;
    }

    #filter-en:checked ~ .filter-container {
        left: 0% !important;
    }

    #filter-en {
        display: none;
    }

    .card-container {
        flex-direction: row;
        position: relative;
    }

    .wrapper {
        flex: 1;
        flex-basis: 50%;
        max-width: 185px;
        margin: 10px 5px 35px 5px;
    }
    .wrapper .border {
        width: 189px;
        height: 338px;
        opacity: 1;
    }

    .wrapper .image, .wrapper .image img {
        width: 185px;
        height: 185px;
    }

    .wrapper .content p a {
        text-decoration: underline;
    }
    .wrapper h2 {
        width: 165px;
        font-size: 16px;
    }

    .wrapper .learn-btn {
        opacity: 1;
    }
    .wrapper .learn-btn a {
        width: 189px;
    }
}