body {
  background-color: #f5f5f5;
}
/* Packages Specific Pages */
.packages-pages .content {
  /* margin: 0 125px; */
  /* max-width: 1300px; */
  max-width: 70%;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 2fr 1.3fr;
  /* background-color: #e9e9e9; */
}

.header {
  margin-top: 65px;
}

.header span {
  display: inline-block;
  padding-bottom: 0;
  vertical-align: middle;
}

.header span i {
  font-size: 1rem;
  margin-left: 85px;
  margin-right: 5px;
}

.header a {
  color: black;
}

.header a:hover,
.header span:hover,
.header i:hover,
.header p:hover {
  color: var(--logo-yellow-dark);
  transition: 0.2s;
}

.packages-pages .right .slider {
  width: 750px;
  height: 500px;
  margin-bottom: 1rem;
}
.packages-pages .right .slider img {
  width: 750px;
  height: 500px;
}
.packages-pages .right .nav-manual {
  width: 750px;
  margin-top: -220px;
  /* height: 500px !important; */
}
.packages-pages .right .nav-auto {
  width: 750px;
  margin-top: 459px;
}

.packages-pages .reservation {
  min-height: 150px;
  max-width: 750px;
  background-color: white;
  border: 1px solid black;
  /* margin-right: 50px;
    margin-left: 50px; */
  margin: auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr .5fr;
}

.packages-pages .reservation .hearts {
  padding: 15px !important;
  vertical-align: middle;
  align-items: center;
}

.packages-pages .reservation .contact {
  /* padding: 0 !important; */
  padding: 12px 0px 12px 12px!important;
  vertical-align: middle;
  align-items: center;
}

.packages-pages .reservation .contact a {
  color: black;
}

.packages-pages .reservation .booking {
  /* margin-left: auto;
  margin-right: auto; */
  text-align: center;
  display: block;
  margin: 10px 0px 10px 10px;
  /* padding: 10px; */
  border-left: 1px solid black;
  /* border-radius: 10px; */
}

/* .packages-pages .reservation .booking input {
    margin-bottom: 10px;
  } */

.packages-pages .reservation .booking p {
  margin: 0 auto 15px auto;
}

.sml-txt {
  margin-top: 20px !important;
  margin-bottom: 0 !important;
}

.packages-pages .reservation .booking p span {
  font-size: 10px;
  display: block;
  margin-bottom: 0em;
}

.packages-pages .reservation .booking .book-btn {
  border-radius: 20px !important;
  cursor: pointer;
  padding: 10px;
  background-color: var(--logo-yellow-dark);
  color: black;
}

/* .packages-pages button {
    border-radius: 20px;
      border: none;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: bold;
      padding: 12px 45px;
      letter-spacing: 1px;
      text-transform: uppercase;
    margin: 0;
    cursor: pointer;
    width: 170px;
  }
  
  .packages-pages button#modalLogin {
    background: linear-gradient(90deg, var(--logo-yellow-dark), var(--first-color), var(--logo-blue-dark));
    margin-right: 20px;
  }
  
  .packages-pages button#modalClose {
    background: linear-gradient(90deg, var(--logo-blue-dark), var(--first-color), var(--logo-yellow-dark));
    margin-left: 20px;
  } */

.packages-pages .left {
  background-color: #34495e;
  border-radius: 10px;
  margin-right: 20px;
  padding: 20px;
  color: white;
}

.packages-pages .left h1 {
  font-size: 2rem;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  text-align: center;
}

.packages-pages .snapshot {
  /* max-width: 1024px; */
  max-width: 53%;
  background-color: #34495e;
  margin: auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.snapshot h1 {
  color: var(--logo-yellow-dark);
}

.snapshot .box-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.snapshot .box {
  margin: 0 20px;
  background-color: var(--logo-yellow-dark);
  padding: 20px 0;
  min-width: 200px;
  border-radius: 10px;
}

.snapshot .box i {
  font-size: 2rem;
}

.recommendations {
  max-width: 90%;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.recommendations h1 {
  margin-bottom: 15px;
}

.recommendations .card-container {
  display: flex;
  justify-content: center;
  /* box-shadow: 4px 3px 8px 1px #969696;
    -webkit-box-shadow: 4px 3px 8px 1px #969696; */
  /* padding: 30px 20px; */
}

.recommendations .card-container .card img {
  height: 100px;
  width: 130px;
  object-fit: cover;
  padding: 10px;
}

.recommendations .card {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  height: 120px;
  width: 300px;
  margin: 10px 0;
  background: #34495e;
  border-radius: 5px;
  padding: 10px;
}

.recommendations .card:not(:last-child) {
  margin-right: 20px;
}

/* .recommendations .card img {
    height: 120px;
    
  } */

.recommendations .card p {
  color: white;
  text-transform: uppercase;
}

.recommendations .card .dest {
  /* padding-top: 10px;
    padding-right: 5px; */
  font-size: 20px;
  font-weight: 600;
}

.recommendations .card .location {
  font-size: 13px;
  /* padding-right: 5px; */
}

.ratings-container {
  width: 80%;
  margin: auto;
  margin-bottom: 3rem;
}

.ratings-selector {
  display: flex;
  flex-wrap: nowrap;
  background-color: #34495e;
  padding: 1.75rem;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  margin-top: 1rem;
}

.ratings-selector .availability-filter {
  padding-bottom: 0;
  border-bottom: 0;
  margin-bottom: 0;
  padding: 1.75rem;
}

.ratings-selector .availability-filter label {
  border: 2px solid white;
  color: white;
  width: 50px;
}

.actual-rating {
  text-align: center;
  width: 20%;
  color: white;
}

.ratings-list {
  margin-top: 1rem;
  background-color: white;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  min-height: 100px;
  border-radius: 10px;
}

.ratings-wrapper {
  display: flex;
  padding: 1rem 1.25rem;
}

.ratings-wrapper:not(:last-child){
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.ratings-wrapper .user-pfp {
  width: 2.5rem;
  margin-right: 1rem;
}

.ratings-wrapper .user-pfp img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.ratings-wrapper .rating-body {
  width: 100%;
}

.rating-body .rating-date {
  font-size: 13px;
}

.rating-body .review-body {
  margin-top: 10px;
}

i.fa-heart {
  transition: 250ms cubic-bezier(0.78, -0.36, 0.18, 1.54) transform;
}

i.fa-heart:hover {
  transform: scale(1.2);
}