.postcard {
    display: flex;
    flex-direction: column;
    
    font-family: "Poppins", sans-regular;
    
    max-width:  350px;
    height: fit-content;
    
    
    margin: 0 auto;
    margin-top: 40vh;
    padding: 15px;
    
    border-radius: 15px;
    text-align: center;
    
    box-shadow: -1px 0px 59px -1px rgba(0,0,0,0.15);
  }
  
  .postcard__header {
  /*   justify-content: center;
    align-items: center; */
    
    height:90px;
  }
  
  .postcard__header h1, .postcard__header i {
    margin-top: 15px;
  }
  
  .postcard__header h1 {
    color: #34495e;
  }
  
  .postcard__header i {
    color: var(--first-color);
  }
  
  .postcard__body p{
    margin: 0 0 10px 0;
  }
  
  .postcard__body a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    
    background-color: var(--first-color);
   
    padding: .25rem 2rem;
    border-radius: 16px;
    
    transition: 150ms background-color ease-out;
  }
  
  .postcard__body a:hover {
    background-color: #34495e;
  }

  .error {
    color: rgb(165, 16, 41);
  }