/* Image Slider */
.slider {
  width: 1000px;
  height: 666.67px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
}

.slides {
  width: 500%;
  height: 666.67px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 1s;
}

.slide img {
  width: 1000px;
  height: 666.67px;
  object-fit: cover;
}

.nav-manual {
  position: absolute;
  width: 1000px;
  margin-top: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manual-btn {
  border: 2px solid white;
  padding: 0px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  /* margin: 0; */
  height: 10px;
  width: 30px;
}

.manual-btn:not(:last-child) {
  margin-right: 5px;
  margin-left: 5px;
}

.manual-btn:hover {
  background: var(--first-color);
}

.nav-btn i {
  color: white;
  font-size: 2rem;
}

.prev-btn {
  margin-right: 50px;
}

.next-btn {
  margin-left: 50px;
}

#btn1:checked ~ .first {
  margin-left: 0;
}

#btn2:checked ~ .first {
  margin-left: -20%;
}

#btn3:checked ~ .first {
  margin-left: -40%;
}

#btn4:checked ~ .first {
  margin-left: -60%;
}

#btn5:checked ~ .first {
  margin-left: -80%;
}

.nav-auto {
  position: absolute;
  display: flex;
  width: 1000px;
  justify-content: center;
  margin-top: 619px;
}

.nav-auto div {
  /* border: 2px solid white; */
  padding: 0px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  /* margin: 0; */
  height: 10px;
  width: 30px;
}

.nav-auto div {
  margin-right: 5px;
  margin-left: 5px;
}

#btn1:checked ~ .nav-auto .auto-btn1 {
  background: var(--first-color);
}

#btn2:checked ~ .nav-auto .auto-btn2 {
  background: var(--first-color);
}

#btn3:checked ~ .nav-auto .auto-btn3 {
  background: var(--first-color);
}

#btn4:checked ~ .nav-auto .auto-btn4 {
  background: var(--first-color);
}

#btn5:checked ~ .nav-auto .auto-btn5 {
  background: var(--first-color);
}

@media (max-width: 480px) { 
  .slider, .slider img, .nav-manual, .nav-auto {
    width: 380px !important;
  }

  .slider, .slider img {
    height: 333px !important;
  }

  .nav-auto {
    margin-top: 299px !important;
  }

  .nav-manual {
    margin-top: -380px !important;
  }

}