/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* CSS VARIABLES */
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --first-color: #1abc9c;
  --first-color-light: #26a69a44;
  --first-color-lighter: #ecf3f2;
  --title-color: #11443f;
  --text-color: #5b7b78;
  --body-color: #f5fffe;
  --logo-blue-light: #2aa5e8;
  --logo-yellow-light: #ffcb2a;
  --logo-blue-dark: #34a5e7;
  --logo-yellow-dark: #fda32b;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 3rem;
  --bigger-font-size: 2rem;
  --big-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== CSS RESET =====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: var(--body-font);
}

.sections {
  z-index: var(--z-tooltip);
}

nav {
  height: 60px;
  width: 100%;
  z-index: var(--z-fixed);
  position: fixed;
  list-style-type: none;
  top: 0;
}

nav.scrolled {
  background: #34495e;
  height: 60px;
  width: 100%;
  z-index: var(--z-fixed);
  position: fixed;
}

label.logo {
  color: white;
  font-size: 25px;
  line-height: 60px;
  padding-left: 175px;
  padding-right: 100px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

nav .logo img {
  height: 45px;
  vertical-align: middle;
  padding-right: 20px;
}

nav ul img {
  height: 40px;
  vertical-align: middle;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
  cursor: pointer;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 13px 13px;
  text-transform: uppercase;
  /* transition: 0.1s; */
}

nav li a.active,
nav li a:hover {
  border-bottom: 5px solid #1abc9c;
}

.checkbtn,
.closebtn {
  font-size: 20px;
  color: white;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.closebtn {
  color: #1abc9c;
}

#check {
  display: none;
}

.dropdown {
  display: none;
  position: fixed;
  right: 0;
  top: 60px;
  width: 225px;
  background-color: #34495e;
  z-index: var(--z-fixed);
  border-radius: 10px;
  margin: 10px;
  flex: 0 0 17rem;
  padding: 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  justify-content: center;
}

.dropdown.show {
  display: block;
}

.dropdown ul {
  float: none;
  margin: 0;
}

.dropdown a {
  width: 100%;
}

.dropdown a img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.dropdown ul li {
  width: 100%;
  color: white; 
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  margin: 0;
  line-height: unset;

}

.dropdown ul li:hover {
  /* border-bottom: 5px solid #1abc9c; */
  background-color: #1abc9c;
}

.banner {
  height: 100vh;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 200px;
  z-index: 1;
}

.banner video, .login-banner video {
/* video { */
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  /* z-index: var(--z-tooltip); */
  z-index: 1;
  object-fit: cover;
}

.banner-half {
  height: 50vh;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* padding-left: 200px; */
}

.banner-half video {
  position: absolute;
  height: 50vh;
  width: 100%;
  top: 0;
  left: 0;
  /* z-index: var(--z-tooltip); */
  object-fit: cover;
}

.banner-half img {
  position: absolute;
  object-fit: cover;
  height: 50vh;
  width: 100%;
  /* object-position: 50% 30%; */
}

.text {
  position: relative;
  z-index: var(--z-tooltip);
}

.banner .text h1 {
  font-size: 4em;
  text-transform: uppercase;
  color: white;
}

.banner-half .text h1 {
  font-size: 3em;
  text-transform: uppercase;
  color: white;
}

.banner .text h2 {
  font-size: 2em;
  color: white;
}

.banner-half .text h2 {
  font-size: 1em;
  color: white;
}

.banner .text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 30px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
  cursor: pointer;
}

.banner .text a:hover {
  /* letter-spacing: 6px; */
  padding: 10px 40px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: #1ABC9C;
}

.rating i {
  color: var(--logo-yellow-dark);
}

.rating i:not(:last-child) {
  padding-right: 3px;
}

.rating.agency i:not(:last-child) {
  padding-right: 7px;
}

/*========== Media Responsive ==========*/
/* Smartphones (portrait) ----------- */
@media (max-width: 480px) {
  label.logo {
    padding-left: 25px;
    padding-right: 0;
    font-size: 20px;
  }

  nav .logo img {
    padding-right: 15px;
  }

  .checkbtn, .closebtn {
    margin-right: 25px;
  }

  #check:checked ~ .closebtn {
    display: block;
    transition: all 0.5s;
    margin-right: 25px !important;
  }

  .banner {
    padding-left: 50px;
  }

  .banner .text h1 {
    font-size: 3em;
  }

  .banner .text h2 {
    font-size: 1.2em;
  }

  .banner-half .text h2 {
    width: 90%;
    margin: auto;
  }

  .banner-half, .banner-half video {
    height: 35vh;
  }

}

/* @media (max-width: 952px) {
  label.logo {
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
} */
@media (max-width: 1024px) {
  .checkbtn {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 200px;
    height: 100vh;
    top: 0px;
    right: -100%;
    background: white;
    margin: 0;
    transition: all 0.1s;
    text-align: left;
    padding-top: 40px;
    z-index: -1;
  }
  nav ul li {
    display: block;
    margin: 10px 20px 0 20px;
    line-height: 30px !important;
  }
  nav ul li a {
    font-size: 20px;
    color: #34495e;
  }

  nav ul li a:hover,
  nav ul li a.active {
    background: none;
    border: none;
    color: #1abc9c;
    font-weight: bold;
  }
  #check:checked ~ ul {
    right: 0;
  }
  #check:checked ~ .banner {
    left: -100%;
  }
  #check:checked ~ .closebtn {
    display: block;
    transition: all 0.5s;
    margin-right: 240px;
  }
  #check:checked ~ .checkbtn {
    display: none;
    transition: all 0.5s;
  }
}


@media (min-width: 481px) and (max-width: 1024px) {
  
  /* Destination Specific Pages */
  .destination-pages .content {
    margin: 0 50px;
    grid-template-columns: 2.3fr 0.8fr;
  }

  .slider,
  .slide img {
    width: 500px !important;
    height: 333px !important;
  }

  .nav-manual {
    width: 500px !important;
    margin-top: -380px !important;
  }

  .nav-auto {
    width: 500px !important;
    margin-top: 299px !important;
  }

  .destination-pages .left .card {
    height: 120px;
  }

  .destination-pages .left .card img {
    height: 120px;
    padding: 10px;
  }

  .destination-pages .left .card .dest {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 600;
  }

  .destination-pages .left .card .location {
    font-size: 11px;
  }

  /* Packages Specific Pages */

  .packages .wrap {
    max-height: 320px;
  }

  .packages .wrap .cap h2 {
    font-size: 25px;
  }

  .packages .wrap .cap .data {
    font-size: 14px;
    padding-top: 10px;
  }

  .packages-pages .content {
    max-width: 90%;
  }

  .packages-pages .reservation {
    max-width: 500px;
  }

  .packages-pages .reservation .contact {
    font-size: 13px;
  }

  .packages-pages .left {
    margin-right: 0;
    padding: 10px;
    color: white;
    width: 100%;
  }

  .packages-pages .left h1 {
    font-size: 1.5rem;
  }

  .packages-pages .left h2 {
    font-size: 1.25rem;
  }

  .packages-pages .left p {
    font-size: 13px;
  }

  .packages-pages .snapshot {
    max-width: 90%;
  }

  .snapshot .box-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .snapshot .box {
    margin: 0 10px;
    background-color: var(--logo-yellow-dark);
    padding: 20px 0;
    min-width: 200px;
    border-radius: 10px;
  }

  .snapshot .box i {
    font-size: 2rem;
  }

  .recommendations .card-container .card img {
    height: 100px;
    width: 110px;
    padding: 5px;
  }

  .recommendations .card:not(:last-child) {
    margin-right: 10px;
  }

  .recommendations .card .dest {
    font-size: 20px;
  }

  .recommendations .card .location {
    font-size: 13px;
    /* padding-right: 5px; */
  }

  .about-us .center {
    width: 500px !important;
  }

  .about-us .colored .mission {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: .5fr 2fr; */
    margin: 1rem auto;
    max-width: 80%;
  }

  .about-us .colored .goal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: 2fr .5fr; */
    margin: 1rem auto;
    max-width: 80%;
  }

  .about-us .colored .mission video,
  .about-us .colored .goal video {
    width: 600px;
    border-radius: 10px;
  }

  .about-us .team {
    width: 90%;
  }

  .site-footer .container {
    max-width: 90% !important;
  }
}

@media (min-width:1025px) and (max-width: 1280px) {
  label.logo {
    padding-left: 100px;
    padding-right: 140px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .slider,
  .slide img {
    width: 750px;
    height: 499.5px;
  }

  .nav-manual {
    width: 750px;
    margin-top: -220px;
  }

  .nav-auto {
    width: 750px;
    margin-top: 459px;
  }
  .destination-pages .left h3 {
    padding: 15px 20px;
    text-align: center;
    background-color: var(--logo-yellow-dark);
  }

  .destination-pages .left .card {
    height: 100px;
  }

  .destination-pages .left .card img {
    height: 100px;
  }

  .destination-pages .left .card .dest {
    font-size: 15px;
  }

  .destination-pages .left .card .location {
    font-size: 11px;
  }

  .packages .wrap .cap .data {
    font-size: 17px;
    padding-top: 10px;
  }

  /* Packages Specific Pages */

  .packages .wrap {
    max-height: 320px;
  }

  .packages .wrap .cap h2 {
    font-size: 25px;
  }

  .packages .wrap .cap .data {
    font-size: 14px;
    padding-top: 10px;
  }

  .packages-pages .content {
    max-width: 90%;
  }

  .packages-pages .reservation {
    max-width: 750px;
  }

  /* .packages-pages .reservation .contact {
    font-size: 13px ;
  } */

  .packages-pages .left {
    margin-right: 0;
    margin-left: 10px;
    padding: 15px;
    color: white;
  }

  .packages-pages .left h1 {
    font-size: 1.5rem;
  }

  .packages-pages .left h2 {
    font-size: 1.25rem;
  }

  .packages-pages .left p {
    font-size: 15px;
  }

  .packages-pages .snapshot {
    max-width: 80%;
  }

  .snapshot .box-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .snapshot .box {
    margin: 0 20px;
    background-color: var(--logo-yellow-dark);
    padding: 20px 0;
    max-width: 200px;
    border-radius: 10px;
  }

  .snapshot .box i {
    font-size: 2rem;
  }

  .recommendations .card-container .card img {
    height: 100px;
    width: 110px;
    padding: 5px;
  }

  .recommendations .card:not(:last-child) {
    margin-right: 10px;
  }

  .recommendations .card .dest {
    font-size: 20px;
  }

  .recommendations .card .location {
    font-size: 13px;
    /* padding-right: 5px; */
  }

  .about-us .colored {
    padding: 1rem 100px;
  }

  .about-us .colored .mission {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    /* grid-template-columns: .5fr 2fr; */
    margin: 1rem auto;
    max-width: 100%;
  }

  .about-us .colored .goal {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    /* grid-template-columns: 2fr .5fr; */
    margin: 1rem auto;
    max-width: 100%;
  }

  .about-us .colored .mission video,
  .about-us .colored .goal video {
    width: 500px;
    border-radius: 10px;
  }
}

.recommended {
  margin-right: auto;
  margin-left: auto;
  
  
  position: relative;
  height: 225px;
  width: 150px;
  
  background: #8bf3b021;
  
  box-shadow: 1px 0px 10px 4px rgba(0,0,0,0.15);
}

.recommended__content, .recommended__icon, .preferred__content {
  position: absolute;
  background: #34495e;
  top: 10px;
  max-width: fit-content;
  padding: 0 10px;

}

.recommended__content, .preferred__content {
    box-shadow: 1px 0px 10px 4px rgba(0,0,0,0.15);

    left: -2%;
}

.preferred__content {
    background: #1abc9cd2;

    top: 10%;
}

.preferred__content i {
  box-shadow: 1px 0px 10px 4px rgba(0,0,0,0.25);
  color: rgba(194, 39, 62, 0.862);
  margin-left: 6px;

  --fa-animation-duration: 1750ms;
  --fa-animation-timing: cubic-bezier(0.27, -0.38, 0, 1.15);
  --fa-animation-iteration-count: 3;
  --fa-animation-direction: alternate;

}

.wrapper:hover .preferred__content i{
  --fa-animation-duration: 1550ms;
  --fa-animation-iteration-count: infinite;
}

/* .recommended__content::before{
  content: '';
  position: absolute;
  height: 10px;
  width: 8.75px; 
  
  border-width: -5px;
  border-color: transparent transparent #34495e transparent;
  border-style: solid;
  clip-path: polygon(13% 10%, 100% 0, 100% 55%);
  bottom: -53%;
  left: -3%;
  
  background: #34495ea6;
  z-index: 2;
} */

:is(.recommended__content, .preferred__content) span {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  
  font-size: 12px;
  color: White;
  
  z-index: 1;
}

.recommended__content span i {
  position: absolute;
  top: 0;
  right: 0;
}

.recommended__icon {
  background: none;
  z-index: 0;
  

  /* right: 55%; */
  
  overflow: hidden;
  /* max-width: 35px; */
 
}

.recommended__icon i{
  color: #ffffff22;
  padding-left: 61px;
  margin: 0px 0px 0px 5.5px;

  /* max-width: 75px; */
}

.notification {
  position: relative;
}

.notification a span {
  position: absolute;
  background: rgb(194, 39, 62);
  
  top: 10px;
  right: 0;
  border-radius: 50%;

  height: 20px;
  width: 20px;

  text-align: center;
  padding-top: 2px;

  font-size: 13px;
  
  font-weight: 800;
  line-height: normal !important;
}

.notification__wrapper.show{
  display: block;
}

.notification__dropdown::-webkit-scrollbar{
  width: 5px;
}


.notification__dropdown::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #1ABC9C;

  
}

.notification__dropdown::-webkit-scrollbar-thumb:hover{
  background-color: #1a977e;
}


.notification__dropdown, .notification__wrapper{
  position: absolute;
  min-width: 500px;
  max-width: 500px;
  min-height: min-content;
  max-height: 800px;

  margin: 0;

  background: #34495e;

  top: 120%;
  right: -30px;

  /* padding: 0px 15px; */

  border-radius: 16px;

  line-height: 1px !important;
  
  

  box-shadow: 0 0 32px rgb(0 0 0 / 8%), 
                  0 16px 16px -16px rgb(0 0 0 / 10%);
}

.notification__wrapper {
  display: none;
}

.notification__dropdown{
  overflow-y: scroll;
}



.notification__wrapper::before {
  content: '';

  position: absolute;

  top: -20px;
  right: 38px;

  border-width: 10px;
  border-color: transparent transparent #34495e transparent ;
  border-style: solid;

  z-index: 1000;
}


.notification__dropdown li{
  color: #ecf3f2;
  min-width: 100%;
  max-width: 100%;
  padding: 10px 20px;
  margin: 0;
  box-sizing: border-box;

  transition: 250ms background-color cubic-bezier(0.25, 0.46, 0.45, 0.94),
              250ms border-radius cubic-bezier(0.25, 0.46, 0.45, 0.94);

  max-height: 120px;
  min-height: 60px;

  /* word-wrap:normal; */
  /* text-overflow: ellipsis; */
  overflow: hidden;
  /* white-space: nowrap; */
  /* overflow-wrap: break-word; */
  word-wrap: break-word;
  display: block !important;
  line-height: 25px !important;

}

.notification__dropdown li:hover{
  background-color: #3d5974;
  border-radius: 16px;
  
}


.notification__dropdown li:not(:last-child){
  border-bottom: 1px solid rgba(97, 97, 97, 0.756);
}

.notification__dropdown li span b.highlight{
  background-color: #1a977e;
  border-radius: 10px;
  padding: 0 5px;
}