/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* CSS VARIABLES */
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --first-color: #1abc9c;
  --first-color-light: #26a69a44;
  --first-color-lighter: #ecf3f2;
  --title-color: #11443f;
  --text-color: #5b7b78;
  --body-color: #f5fffe;
  --logo-blue-light: #2aa5e8;
  --logo-yellow-light: #ffcb2a;
  --logo-blue-dark: #34a5e7;
  --logo-yellow-dark: #fda32b;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 3rem;
  --bigger-font-size: 2rem;
  --big-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== CSS RESET =====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
}

body {
  font-family: var(--body-font);
}

.sections {
  z-index: 10;
}

nav {
  height: 60px;
  width: 100%;
  z-index: var(--z-fixed);
  position: fixed;
  list-style-type: none;
}

nav.scrolled {
  background: #34495e;
  height: 60px;
  width: 100%;
  z-index: var(--z-fixed);
  position: fixed;
}

label.logo {
  color: white;
  font-size: 25px;
  line-height: 60px;
  padding-left: 175px;
  padding-right: 100px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

nav .logo img {
  height: 45px;
  vertical-align: middle;
  padding-right: 20px;
}

nav ul img {
  height: 30px;
  vertical-align: middle;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 13px 13px;
  text-transform: uppercase;
  /* transition: 0.1s; */
}

nav li a.active,
nav li a:hover {
  border-bottom: 5px solid #1abc9c;
}

.checkbtn,
.closebtn {
  font-size: 20px;
  color: white;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.banner {
  height: 100vh;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 200px;
  z-index: 1;
}

.banner video, .login-banner video {
/* video { */
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  /* z-index: var(--z-tooltip); */
  z-index: 1;
  object-fit: cover;
}

.banner-half {
  height: 50vh;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  /* padding-left: 200px; */
}

.banner-half video {
  position: absolute;
  height: 50vh;
  width: 100%;
  top: 0;
  left: 0;
  /* z-index: var(--z-tooltip); */
  object-fit: cover;
}

.banner-half img {
  position: absolute;
  object-fit: cover;
  height: 50vh;
  width: 100%;
  object-position: 50% 30%;
}

.text {
  position: relative;
  z-index: var(--z-tooltip);
}

.banner .text h1 {
  font-size: 4em;
  text-transform: uppercase;
  color: white;
}

.banner-half .text h1 {
  font-size: 3em;
  text-transform: uppercase;
  color: white;
}

.banner .text h2 {
  font-size: 2em;
  color: white;
}

.banner-half .text h2 {
  font-size: 1em;
  color: white;
}

.banner .text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 30px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}

.banner .text a:hover {
  /* letter-spacing: 6px; */
  padding: 10px 40px;
}

/* Login Pages */
.login-banner {
  height: 100vh;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.login {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* font-family: 'Montserrat', sans-serif; */
	height: 100vh;
	/* margin: -20px 0 50px; */
}

.login h1 {
	font-weight: bold;
	margin: 0;
}

.login h2 {
	text-align: center;
}

.login p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.login span {
	font-size: 12px;
}

.login a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
  margin-bottom: 18px;
}

.login button {
	border-radius: 20px;
	border: none;
	background: linear-gradient(90deg, var(--logo-yellow-dark), var(--first-color), var(--logo-blue-dark));
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.login .overlay-panel.overlay-left button {
  background: linear-gradient(90deg, var(--first-color), var(--logo-blue-dark));
}

.login .overlay-panel.overlay-right button {
  background: linear-gradient(90deg, var(--logo-yellow-light), var(--logo-yellow-dark));
}

.login button:active {
	transform: scale(0.95);
}

.login button:focus {
	outline: none;
}

.login button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.login form button {
  margin-top: 15px;
}

.login form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.login input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.login input.fname,
.login input.lname {
  width: 137px;
}
.login input.fname {
  margin-right: 2.85px;
}
.login input.lname {
  margin-left: 2.85px;
}

.login .container {
	/* background-color: #fff; */
  background: none;
	border-radius: 10px;
  	box-shadow: 10px 14px 28px rgba(0,0,0,0.25), 
			-10px -10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
  z-index: var(--z-tooltip);
}

.login .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
  background: none;
}

.login .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.login .container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.login .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.login .sign-up-container .names {
  display: inline-block;
}

.login .container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.login .overlay-blur {
  position: absolute;
  top: 0;
  left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px); 
  mask-image: linear-gradient(transparent, white 50%, white);
  -webkit-mask-image: linear-gradient(transparent, white 50%, white);
}

.login .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
  
  background-color: transparent;
}

.login .container.right-panel-active .overlay-container, 
.login .container.right-panel-active .overlay-blur
{
	transform: translateX(-100%);
}

.login .overlay {
	/* background: var(--logo-yellow-dark);
	background: -webkit-linear-gradient(125deg, var(--logo-yellow-dark), var(--first-color), var(--logo-blue-dark));
	background: linear-gradient(125deg, var(--logo-yellow-dark), var(--first-color), var(--logo-blue-dark)); */
  background-color: transparent;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
  
}

.login .container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.login .overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.login .overlay-left {
	transform: translateX(-20%);
}

.login .container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.login .overlay-right {
	right: 0;
	transform: translateX(0);
}

.login .container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.login .social-container {
	margin: 20px 0;
}

.login .social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

/* =============================================== */

/* Destinations Page */
.destinations .card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 2rem 0;
}

.destinations .card-container .wrap {
  width: 30rem;
  margin: 2rem;
  background: #fff;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.destinations .card-container .wrap img {
  height: 25rem;
  width: 100%;
  object-fit: cover;
  text-align: center;
  position: relative;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  display: block;
  bottom: 0;
}

.destinations .card-container .cap {
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, var(--first-color));
  padding: 1rem 2rem;

  visibility: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.destinations .wrap:hover .cap {
  visibility: visible;
  opacity: 1;
}

.destinations .wrap:hover img {
  -webkit-transform: scale(1.08);
  -ms-transform: scale(1.08);
  transform: scale(1.08);
  /* bottom: 20px; */
}

.destinations .wrap .cap h2 {
  font-size: 1.75rem;
  color: var(--first-color-lighter);
}
.destinations .wrap .cap h3 {
  font-size: 2rem;
  color: var(--first-color-lighter);
}

.destinations .wrap .cap .rating {
  font-size: 1rem;
  color: var(--bright-yellow-crayola);
}

.destinations .wrap .cap p {
  font-size: var(--normal-font-size);
  color: var(--first-color-lighter);
}

.destinations .wrap .cap .fee {
  font-size: var(--normal-font-size);
  color: var(--first-color-lighter);
  font-weight: var(--font-medium);
}

.destinations .wrap .cap .btn {
  background-color: var(--title-color); /* Green */
  border: none;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  font-size: 16px;
  bottom: 1.5rem;
  right: 1rem;

  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--body-color);
  color: var(--first-color);
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  cursor: pointer;
}

/* =============================================== */

/* Destination Specific Pages */
.destination-pages .content {
  margin: 0 75px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 2.5fr 0.6fr;
  grid-gap: 10px;
}

.loc {
  font-size: 2rem;
  margin-left: 75px;
  margin-bottom: 1rem;
}

.header {
  margin-top: 2rem;
}

.header span {
  display: inline-block;
  padding-bottom: 0;
  vertical-align: middle;
}

.header span i {
  font-size: 2rem;
  margin-left: 75px;
  margin-right: 20px;
}

.header a {
  color: black;
}

.header a:hover,
.header span:hover,
.header i:hover,
.header p:hover {
  color: var(--logo-yellow-dark);
  transition: 0.2s;
}

/* Right Panel Contents */
.destination-pages .paragraph {
  padding-top: 20px;
  padding-bottom: 30px;
  margin: auto;
}

.destination-pages .paragraph p {
  text-align: justify;
  margin: 0 20px;
}

/* Image Slider */
.slider {
  width: 1000px;
  height: 666.67px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
}

.slides {
  width: 500%;
  height: 666.67px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 1s;
}

.slide img {
  width: 1000px;
  height: 666.67px;
  object-fit: cover;
}

.nav-manual {
  position: absolute;
  width: 1000px;
  margin-top: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manual-btn {
  border: 2px solid white;
  padding: 0px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  /* margin: 0; */
  height: 10px;
  width: 30px;
}

.manual-btn:not(:last-child) {
  margin-right: 5px;
  margin-left: 5px;
}

.manual-btn:hover {
  background: var(--first-color);
}

.nav-btn i {
  color: white;
  font-size: 2rem;
}

.prev-btn {
  margin-right: 50px;
}

.next-btn {
  margin-left: 50px;
}

#btn1:checked ~ .first {
  margin-left: 0;
}

#btn2:checked ~ .first {
  margin-left: -20%;
}

#btn3:checked ~ .first {
  margin-left: -40%;
}

.nav-auto {
  position: absolute;
  display: flex;
  width: 1000px;
  justify-content: center;
  margin-top: 619px;
}

.nav-auto div {
  /* border: 2px solid white; */
  padding: 0px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  /* margin: 0; */
  height: 10px;
  width: 30px;
}

.nav-auto div {
  margin-right: 5px;
  margin-left: 5px;
}

#btn1:checked ~ .nav-auto .auto-btn1 {
  background: var(--first-color);
}

#btn2:checked ~ .nav-auto .auto-btn2 {
  background: var(--first-color);
}

#btn3:checked ~ .nav-auto .auto-btn3 {
  background: var(--first-color);
}

/* Left Panel Contents */
.destination-pages .left {
  width: 100%;
}

.destination-pages .left h3 {
  padding: 15px 20px;
  text-align: center;
  background-color: var(--logo-yellow-dark);
}

.destination-pages .left .card {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  height: 120px;
  margin: 10px 0;
  background: #34495e;
  border-radius: 5px;
  box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

.destination-pages .left .card img {
  height: 120px;
  width: 150px;
  padding: 10px;
  object-fit: cover;
}

.destination-pages .left .card p {
  color: white;
  text-transform: uppercase;
}

.destination-pages .left .card .dest {
  padding-top: 10px;
  padding-right: 5px;
  font-size: 20px;
  font-weight: 600;
}

.destination-pages .left .card .location {
  font-size: 13px;
  padding-right: 5px;
}

/* Packages Page */
.packages .wrap {
  margin: 50px;
  max-height: 300px;
  background: #e9e9e9;
  display: grid;
  grid-template-columns: 0.8fr 3fr 1fr;
  position: relative;
}

.packages .wrap .image img {
  height: 260px;
  width: 260px;
  margin: 20px;
  border-radius: 10px;
  vertical-align: middle;
  object-fit: cover;
}

.heart {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
}

.h_container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 45px;
  position: inherit;
  top: 10%;
  right: 10%;
}
#heart {
  font-size: 25px;
}
#heart:hover {
  color: red;
}

.packages .wrap .cap {
  margin: 20px;
}

.packages .wrap .cap .rating {
  color: var(--logo-yellow-dark);
  font-size: 20px;
}

.packages .wrap .cap .data {
  padding-top: 15px;
  font-size: 17px;
}

.packages .wrap .cap h2 {
  font-size: 30px;
}

.packages .wrap .price {
  text-align: right;
  margin: 20px;
}

.packages .wrap .price p {
  font-size: 20px;
  letter-spacing: 1px;
}

.packages .wrap .price .pr {
  margin-bottom: 15px;
}

.book-btn {
  padding: 10px;
  background-color: var(--logo-yellow-dark);
  color: black;
  border-radius: 10px;
}


/* =============================================== */

/* Packages Specific Pages */
.packages-pages .content {
  /* margin: 0 125px; */
  /* max-width: 1300px; */
  max-width: 70%;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 2fr 1.3fr;
  /* background-color: #e9e9e9; */
}

.packages-pages .right .slider {
  width: 750px;
  height: 500px;
  margin-bottom: 1rem;
}
.packages-pages .right .slider img {
  width: 750px;
  height: 500px;
}
.packages-pages .right .nav-manual {
  width: 750px;
  margin-top: -220px;
  /* height: 500px !important; */
}
.packages-pages .right .nav-auto {
  width: 750px;
  margin-top: 459px;
}

.packages-pages .reservation {
  min-height: 150px;
  max-width: 750px;
  background-color: white;
  border: 1px solid black;
  /* margin-right: 50px;
  margin-left: 50px; */
  margin: auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 0.4fr;
}

.packages-pages .reservation .contact {
  /* padding: 0 !important; */
  padding: 15px !important;
  vertical-align: middle;
  align-items: center;
}

.packages-pages .reservation .contact a {
  color: black;
}

.packages-pages .reservation .booking {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

/* .packages-pages .reservation .booking input {
  margin-bottom: 10px;
} */

.packages-pages .reservation .booking p {
  margin: 10px auto;
}

.sml-txt {
  margin-top: 20px !important;
  margin-bottom: 0 !important;
}

.packages-pages .reservation .booking p span {
  font-size: 10px;
  display: block;
  margin-bottom: 0em;
}

.packages-pages .reservation .booking .book-btn {
  border-radius: 20px !important;
  cursor: pointer;
}

/* .packages-pages button {
  border-radius: 20px;
	border: none;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
  margin: 0;
  cursor: pointer;
  width: 170px;
}

.packages-pages button#modalLogin {
  background: linear-gradient(90deg, var(--logo-yellow-dark), var(--first-color), var(--logo-blue-dark));
  margin-right: 20px;
}

.packages-pages button#modalClose {
  background: linear-gradient(90deg, var(--logo-blue-dark), var(--first-color), var(--logo-yellow-dark));
  margin-left: 20px;
} */

.packages-pages .left {
  background-color: #34495e;
  border-radius: 10px;
  margin-right: 20px;
  padding: 20px;
  color: white;
}

.packages-pages .left h1 {
  font-size: 2rem;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  text-align: center;
}

.packages-pages .snapshot {
  /* max-width: 1024px; */
  max-width: 53%;
  background-color: #34495e;
  margin: auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.snapshot h1 {
  color: var(--logo-yellow-dark);
}

.snapshot .box-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.snapshot .box {
  margin: 0 20px;
  background-color: var(--logo-yellow-dark);
  padding: 20px 0;
  min-width: 200px;
  border-radius: 10px;
}

.snapshot .box i {
  font-size: 2rem;
}

.recommendations {
  max-width: 90%;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.recommendations h1 {
  margin-bottom: 15px;
}

.recommendations .card-container {
  display: flex;
  justify-content: center;
  /* box-shadow: 4px 3px 8px 1px #969696;
  -webkit-box-shadow: 4px 3px 8px 1px #969696; */
  /* padding: 30px 20px; */
}

.recommendations .card-container .card img {
  height: 100px;
  width: 130px;
  object-fit: cover;
  padding: 10px;
}

.recommendations .card {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  height: 120px;
  width: 300px;
  margin: 10px 0;
  background: #34495e;
  border-radius: 5px;
  padding: 10px;
}

.recommendations .card:not(:last-child) {
  margin-right: 20px;
}

/* .recommendations .card img {
  height: 120px;
  
} */

.recommendations .card p {
  color: white;
  text-transform: uppercase;
}

.recommendations .card .dest {
  /* padding-top: 10px;
  padding-right: 5px; */
  font-size: 20px;
  font-weight: 600;
}

.recommendations .card .location {
  font-size: 13px;
  /* padding-right: 5px; */
}

/* =============================================== */

/* About Us */
.about-us .content {
  margin: 3rem 175px;
  text-align: justify;
}

.about-us .content h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-us .content p {
  padding: 10px 0;
  font-size: 17px;
}

.about-us .content .center {
  width: 750px;
  margin: 1rem auto;
  display: block;
  justify-content: center;
  align-items: center;
}

.about-us .colored {
  background-color: #34495e;
  width: 100%;
  padding: 1rem 170px;
  color: white;
  text-align: justify;
}

.about-us .colored .mission {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  margin: 1rem auto;
  max-width: 80%;
}

.about-us .colored .goal {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  margin: 1rem auto;
  max-width: 80%;
}

.about-us .colored .mission video,
.about-us .colored .goal video {
  width: 400px;
  border-radius: 10px;
}

.about-us .colored span {
  padding: 20px;
}

.about-us .colored .explore {
  margin: 2.5rem auto;
  text-align: center;
}

.about-us .colored .explore a .btn {
  background-image: linear-gradient(
    90deg,
    var(--logo-yellow-dark),
    var(--first-color),
    var(--logo-blue-dark)
  );
  border: none;
  text-decoration: none;
  font-size: 16px;
  
  align-items: center;
  padding: 1rem 3rem;
  
  color: white;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}

.about-us .colored .explore a .btn:hover {
  letter-spacing: 3px;
  transition: .2s;
}

.about-us h2 {
  font-size: 2rem;
  color: var(--logo-yellow-dark);
}

.about-us h1 {
  font-size: 2rem;
}

.about-us .team {
  width: 80%;
  margin: 3rem auto;
  text-align: center;
  margin-bottom: 5rem;
}

.about-us .team .card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.about-us .team .card {
  background-color: #34495e;
  padding: 20px;
  width: 300px;
  height: 320px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: white;
  background-image: linear-gradient(
    160deg,
    var(--logo-yellow-dark),
    var(--first-color),
    var(--logo-blue-dark)
  );
  box-shadow: 2px 2px 8px 2px #969696;
  -webkit-box-shadow: 2px 2px 8px 2px #969696;
}

.about-us .team .card:not(:last-child) {
  margin-right: 30px;
}

.about-us .team .card img {
  width: 200px;
  margin-top: 10px;
  border-radius: 10px;
}

/* =============================================== */

/* COVID-19 */

.mapping .map-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.mapping .map-content {
  background-color: #34495e;
  margin: 3rem 2rem;
  padding: 1rem 1.5rem;
  color: white;
  border-radius: 10px;
  width: 811px;
}

.mapping .map-content .content {
  position: absolute;
  text-align: justify;
  width: 760px;
  /* list-style-type: disc !important */
}

.mapping .map-content .content .top {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.mapping .map-content .content .top .alert {
 padding-right: 5px;
  text-align: right;
}

.mapping .map-content .content h1 {
  font-size: 2.5rem;
}

.mapping .map-content .content .title {
  font-size: 1.3rem;
  font-weight: var(--font-medium);
}

.mapping .map-content .content ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

#map {
  margin: 3rem;
  margin-right: 0;
  /* display: block; */
  width: 500px;
  height: 750px;
  border: solid 1px black;
  z-index: var(--z-tooltip);
  border-radius: 10px;
}

#map .pinfo.legend {
  line-height: 18px;
  color: #555;
}
#map .pinfo.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

#map .pinfo {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
#map .pinfo h4 {
  margin: 0 0 5px;
  color: #777;
}

/* =============================================== */

/* Admin Panel */
.content-users{
  margin: 3rem auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

section#admin-trips .content-users {
  max-width: 90%;
  margin: 3rem auto;
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.content-users table {
  text-align: left;
  /* margin: auto; */
  border-collapse: collapse;
  font-size: 1em;
  font-family: var(--body-font);
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
  margin-top: 1rem;
}

.content-users table thead tr{ 
  background-color: var(--first-color);
  color: white;
}

.content-users th, 
.content-users td {
  padding: 12px 15px;
}

.content-users tbody tr {
  border-bottom: 1px solid #DDDDDD;
}

.content-users tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-users tbody td a {
  text-decoration: none;
  color: red;
  outline: none;
  font-size: 20px;
  margin-left: 5px;
}

.content-users tbody td button {
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: var(--logo-blue-dark);
  background: none;
}

.content-users button.add-btn {
  background: var(--first-color);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
	border: none;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
  margin: 0;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}





/* =============================================== */

/* Footer */
footer.site-footer {
  background-color: #34495e;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
}

.site-footer .container {
  display: grid;
  grid-template-columns: 0.3fr 0.8fr 0.3fr 0.5fr;
  max-width: 75%;
  margin: auto;
  grid-gap: 20px;
  color: white;
  padding-bottom: 30px;
}

.container h1 {
  font-size: var(--big-font-size);
  padding-bottom: 10px;
}

.container .quick-links ul {
  list-style-type: none;
}

.container .quick-links ul li a {
  color: white;
}

.container .quick-links ul li a:hover {
  text-decoration: underline;
}

.container .logo {
  text-align: center;
  justify-content: center;
  margin: auto;
}

.container .logo img {
  width: 60%;
  vertical-align: middle;
}

.container .abt {
  text-align: justify;
}

.contact {
  padding-bottom: 15px;
}

.info {
  display: flex;
  text-align: center;
  align-items: center;
}

.info span {
  padding-right: 10px;
  width: 25px;
}

.soc-med .icons > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin-right: 8px;
  color: #fff;
  opacity: 0.75;
}

.soc-med .icons > a:hover {
  opacity: 0.9;
  background-image: linear-gradient(
    180deg,
    var(--logo-yellow-dark),
    var(--logo-blue-dark)
  );
}

@media (max-width: 952px) {
  label.logo {
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .checkbtn {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 200px;
    height: 100vh;
    top: 0px;
    right: -100%;
    background: white;
    margin: 0;
    transition: all 0.1s;
    text-align: left;
    padding-top: 40px;
  }
  nav ul li {
    display: block;
    margin: 10px 20px 0 20px;
    line-height: 30px !important;
  }
  nav ul li a {
    font-size: 20px;
    color: #34495e;
  }

  nav ul li a:hover,
  nav ul li a.active {
    background: none;
    border: none;
    color: #1abc9c;
    font-weight: bold;
  }
  #check:checked ~ ul {
    right: 0;
  }
  #check:checked ~ .banner {
    left: -100%;
  }
  #check:checked ~ .closebtn {
    display: block;
    transition: all 0.5s;
    margin-right: 240px;
  }
  #check:checked ~ .checkbtn {
    display: none;
    transition: all 0.5s;
  }

  /* Destination Specific Pages */
  .destination-pages .content {
    margin: 0 50px;
    grid-template-columns: 2.3fr 0.8fr;
  }

  .slider,
  .slide img {
    width: 500px !important;
    height: 333px !important;
  }

  .nav-manual {
    width: 500px !important;
    margin-top: -380px !important;
  }

  .nav-auto {
    width: 500px !important;
    margin-top: 299px !important;
  }

  .destination-pages .left .card {
    height: 120px;
  }

  .destination-pages .left .card img {
    height: 120px;
    padding: 10px;
  }

  .destination-pages .left .card .dest {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 600;
  }

  .destination-pages .left .card .location {
    font-size: 11px;
  }

  /* Packages Specific Pages */

  .packages .wrap {
    max-height: 320px;
  }

  .packages .wrap .cap h2 {
    font-size: 25px;
  }

  .packages .wrap .cap .data {
    font-size: 14px;
    padding-top: 10px;
  }

  .packages-pages .content {
    max-width: 90%;
  }

  .packages-pages .reservation {
    max-width: 500px;
  }

  .packages-pages .reservation .contact {
    font-size: 13px;
  }

  .packages-pages .left {
    margin-right: 0;
    padding: 15px;
    color: white;
  }

  .packages-pages .left h1 {
    font-size: 1.5rem;
  }

  .packages-pages .left h2 {
    font-size: 1.25rem;
  }

  .packages-pages .left p {
    font-size: 13px;
  }

  .packages-pages .snapshot {
    max-width: 90%;
  }

  .snapshot .box-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .snapshot .box {
    margin: 0 10px;
    background-color: var(--logo-yellow-dark);
    padding: 20px 0;
    min-width: 200px;
    border-radius: 10px;
  }

  .snapshot .box i {
    font-size: 2rem;
  }

  .recommendations .card-container .card img {
    height: 100px;
    width: 110px;
    padding: 5px;
  }

  .recommendations .card:not(:last-child) {
    margin-right: 10px;
  }

  .recommendations .card .dest {
    font-size: 20px;
  }

  .recommendations .card .location {
    font-size: 13px;
    /* padding-right: 5px; */
  }

  .about-us .center {
    width: 500px !important;
  }

  .about-us .colored .mission {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: .5fr 2fr; */
    margin: 1rem auto;
    max-width: 80%;
  }

  .about-us .colored .goal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: 2fr .5fr; */
    margin: 1rem auto;
    max-width: 80%;
  }

  .about-us .colored .mission video,
  .about-us .colored .goal video {
    width: 600px;
    border-radius: 10px;
  }

  .about-us .team {
    width: 90%;
  }

  .site-footer .container {
    max-width: 90%;
  }
}

@media (max-width: 1280px) {
  label.logo {
    padding-left: 100px;
    padding-right: 140px;
  }
}

@media (max-width: 1440px) {
  .slider,
  .slide img {
    width: 750px;
    height: 499.5px;
  }

  .nav-manual {
    width: 750px;
    margin-top: -220px;
  }

  .nav-auto {
    width: 750px;
    margin-top: 459px;
  }
  .destination-pages .left h3 {
    padding: 15px 20px;
    text-align: center;
    background-color: var(--logo-yellow-dark);
  }

  .destination-pages .left .card {
    height: 100px;
  }

  .destination-pages .left .card img {
    height: 100px;
  }

  .destination-pages .left .card .dest {
    font-size: 15px;
  }

  .destination-pages .left .card .location {
    font-size: 11px;
  }

  .packages .wrap .cap .data {
    font-size: 17px;
    padding-top: 10px;
  }

  /* Packages Specific Pages */

  .packages .wrap {
    max-height: 320px;
  }

  .packages .wrap .cap h2 {
    font-size: 25px;
  }

  .packages .wrap .cap .data {
    font-size: 14px;
    padding-top: 10px;
  }

  .packages-pages .content {
    max-width: 90%;
  }

  .packages-pages .reservation {
    max-width: 750px;
  }

  /* .packages-pages .reservation .contact {
    font-size: 13px ;
  } */

  .packages-pages .left {
    margin-right: 0;
    margin-left: 10px;
    padding: 15px;
    color: white;
  }

  .packages-pages .left h1 {
    font-size: 1.5rem;
  }

  .packages-pages .left h2 {
    font-size: 1.25rem;
  }

  .packages-pages .left p {
    font-size: 15px;
  }

  .packages-pages .snapshot {
    max-width: 80%;
  }

  .snapshot .box-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .snapshot .box {
    margin: 0 20px;
    background-color: var(--logo-yellow-dark);
    padding: 20px 0;
    max-width: 200px;
    border-radius: 10px;
  }

  .snapshot .box i {
    font-size: 2rem;
  }

  .recommendations .card-container .card img {
    height: 100px;
    width: 110px;
    padding: 5px;
  }

  .recommendations .card:not(:last-child) {
    margin-right: 10px;
  }

  .recommendations .card .dest {
    font-size: 20px;
  }

  .recommendations .card .location {
    font-size: 13px;
    /* padding-right: 5px; */
  }

  .about-us .colored {
    padding: 1rem 100px;
  }

  .about-us .colored .mission {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    /* grid-template-columns: .5fr 2fr; */
    margin: 1rem auto;
    max-width: 100%;
  }

  .about-us .colored .goal {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
    /* grid-template-columns: 2fr .5fr; */
    margin: 1rem auto;
    max-width: 100%;
  }

  .about-us .colored .mission video,
  .about-us .colored .goal video {
    width: 500px;
    border-radius: 10px;
  }
}
